.calc-shape{
    
    height: auto;
    min-width: 300px;
    width: auto ;
    background-color: rgba(182, 155, 115, 0.795);
    
    display: grid;
    flex-flow: row wrap;
    justify-items: center;
    padding: .3em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 15px;
    margin-bottom: 50px;
    .containerbutton{
        
        display: grid;
        margin-right: auto;
        margin-left: auto;
        grid-template-areas: "btng1 btng2";
        @media screen and (max-width: 960px){
            &{
                grid-template-areas: 
                "btng1"
                "btng2";  
                
            }
        }
    }
}