@font-face {
    font-family: "Abril";
    src: local("Abril"), url(../../fonts/Abril.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {
        font-family: "Ranchers";
        src: local("Ranchers"), url(../../fonts/Ranchers.ttf);
        font-weight: normal;
        font-style: normal; 
}
@font-face {
    font-family: "Inconsolata";
    src: local("Inconsolata"), url(../../fonts/Inconsolata.ttf);
    font-weight: normal;
    font-style: normal; 
}