/*stolen sass mixin :P im sry*/
.main-screen {
  min-width: 260px;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  min-height: 80px;
  max-height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: .5em;
  box-shadow: 0 1px 0 4px rgba(234, 199, 47, 0.25), 0 -1px 0 4px rgba(248, 143, 16, 0.25), 1px 0 0 4px rgba(234, 199, 47, 0.25), -1px 0 0 4px rgba(248, 143, 16, 0.25), 1px -1px 0 4px rgba(241, 171, 31, 0.5), -1px 1px 0 4px rgba(241, 171, 31, 0.5), 1px 1px 0 4px rgba(226, 226, 62, 0.75), -1px -1px 0 4px rgba(255, 115, 0, 0.75);
  border-radius: 25px;
  background-color: rgba(214, 240, 172, 0.856); }
  .main-screen .screenoperation {
    width: 100%;
    min-height: 50px;
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: 3px dotted rgba(218, 122, 59, 0.795); }
  .main-screen .screenresult {
    width: 100%;
    min-height: 75px;
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; }

.calc-shape {
  height: auto;
  min-width: 300px;
  width: auto;
  background-color: rgba(182, 155, 115, 0.795);
  display: grid;
  flex-flow: row wrap;
  justify-items: center;
  padding: .3em;
  padding-bottom: 2em;
  padding-top: 2em;
  border-radius: 15px;
  margin-bottom: 50px; }
  .calc-shape .containerbutton {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "btng1 btng2"; }
    @media screen and (max-width: 960px) {
      .calc-shape .containerbutton {
        grid-template-areas: "btng1" "btng2"; } }

.btn-group1 {
  display: grid;
  justify-items: center;
  width: 35%;
  height: auto;
  padding: 1em;
  row-gap: 1em;
  column-gap: .9em;
  grid-area: btng1;
  margin-top: 15px;
  grid-template-areas: " btn1 btn2 btn3" " btn4 btn5 btn6" " btn7 btn8 btn9" " btnequal btn0 btncoma" " btnclr btnclr btnclr"; }
  .btn-group1 .btn {
    min-width: 3.5em;
    min-height: 3.5em;
    max-width: 4em;
    max-height: 4em;
    border: none;
    box-shadow: 0 1px 0 3px rgba(234, 199, 47, 0.25), 0 -1px 0 3px rgba(248, 143, 16, 0.25), 1px 0 0 3px rgba(234, 199, 47, 0.25), -1px 0 0 3px rgba(248, 143, 16, 0.25), 1px -1px 0 3px rgba(241, 171, 31, 0.5), -1px 1px 0 3px rgba(241, 171, 31, 0.5), 1px 1px 0 3px rgba(226, 226, 62, 0.75), -1px -1px 0 3px rgba(255, 115, 0, 0.75);
    border-radius: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 195, 46, 0.87);
    color: black;
    font-size: 19px;
    font-weight: 700; }
    .btn-group1 .btn:active {
      background-color: #ee7e33;
      box-shadow: #8b3300 3px 3px 5px;
      color: black;
      transform: scale(1.1); }
  .btn-group1 .btn1 {
    grid-area: btn1; }
  .btn-group1 .btn2 {
    grid-area: btn2; }
  .btn-group1 .btn3 {
    grid-area: btn3; }
  .btn-group1 .btn4 {
    grid-area: btn4; }
  .btn-group1 .btn5 {
    grid-area: btn5; }
  .btn-group1 .btn6 {
    grid-area: btn6; }
  .btn-group1 .btn7 {
    grid-area: btn7; }
  .btn-group1 .btn8 {
    grid-area: btn8; }
  .btn-group1 .btn9 {
    grid-area: btn9; }
  .btn-group1 .btnclr {
    grid-area: btnclr;
    width: 15em;
    height: 4em;
    background-color: #cec657;
    color: black;
    border-radius: .7em;
    border: none;
    box-shadow: 0 1px 0 3px rgba(234, 199, 47, 0.25), 0 -1px 0 3px rgba(248, 143, 16, 0.25), 1px 0 0 3px rgba(234, 199, 47, 0.25), -1px 0 0 3px rgba(248, 143, 16, 0.25), 1px -1px 0 3px rgba(241, 171, 31, 0.5), -1px 1px 0 3px rgba(241, 171, 31, 0.5), 1px 1px 0 3px rgba(226, 226, 62, 0.75), -1px -1px 0 3px rgba(255, 115, 0, 0.75); }
    .btn-group1 .btnclr:active {
      background-color: #ee7e33;
      box-shadow: #8b3300 3px 3px 5px;
      color: black;
      transform: scale(1.1);
      font-weight: 900; }
  .btn-group1 .btncoma {
    grid-area: btncoma; }
  .btn-group1 .btnequal {
    grid-area: btnequal; }

.btn-group2 {
  display: grid;
  justify-items: center;
  width: 35%;
  height: auto;
  padding: 1em;
  row-gap: 1em;
  grid-area: btng2;
  column-gap: .9em;
  margin-top: 15px;
  grid-template-areas: " btnsuma btnresta btnmult" " btndiv btnporcent btnexpo" " btnsquare btnsquarecubic ." " btntg btnsin btncos" " btnlog btnln ."; }
  .btn-group2 .btn {
    min-width: 3.5em;
    min-height: 3.5em;
    max-width: 4em;
    max-height: 4em;
    border: none;
    box-shadow: 0 1px 0 3px rgba(234, 199, 47, 0.25), 0 -1px 0 3px rgba(248, 143, 16, 0.25), 1px 0 0 3px rgba(234, 199, 47, 0.25), -1px 0 0 3px rgba(248, 143, 16, 0.25), 1px -1px 0 3px rgba(241, 171, 31, 0.5), -1px 1px 0 3px rgba(241, 171, 31, 0.5), 1px 1px 0 3px rgba(226, 226, 62, 0.75), -1px -1px 0 3px rgba(255, 115, 0, 0.75);
    border-radius: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 195, 46, 0.87);
    color: black;
    font-size: 19px;
    font-weight: 700; }
    .btn-group2 .btn:active {
      background-color: #ee7e33;
      box-shadow: #8b3300 3px 3px 5px;
      color: black;
      transform: scale(1.1); }
  .btn-group2 .btnsuma {
    grid-area: btnsuma; }
  .btn-group2 .btnresta {
    grid-area: btnresta; }
  .btn-group2 .btnmult {
    grid-area: btnmult; }
  .btn-group2 .btndiv {
    grid-area: btndiv; }
  .btn-group2 .btnporcent {
    grid-area: btnporcent; }
  .btn-group2 .btnexpo {
    grid-area: btnexpo; }
    .btn-group2 .btnexpo sup {
      vertical-align: super;
      font-size: 12px; }
  .btn-group2 .btnsquare {
    grid-area: btnsquare; }
  .btn-group2 .btnsin {
    grid-area: btnsin; }
  .btn-group2 .btncos {
    grid-area: btncos; }
  .btn-group2 .btntg {
    grid-area: btntg; }
  .btn-group2 .btnsquare {
    grid-area: btnsquare; }
  .btn-group2 .btncubic {
    grid-area: btnsquarecubic; }
  .btn-group2 .btnlog {
    grid-area: btnlog; }
  .btn-group2 .btnln {
    grid-area: btnln; }

.sup {
  line-height: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata"; }

.container-main {
  background-color: lightblue;
  height: auto;
  width: 100%;
  background-image: url(../../img/Slanted-Gradient.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .container-main .title {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    color: #cec657;
    letter-spacing: .2em;
    text-shadow: rgba(59, 59, 68, 0.61) 5px 5px 3px;
    padding: .5em;
    font-size: 7vmin; }
    .container-main .title img {
      max-width: 70px;
      max-height: 70px;
      animation: rotar 5s linear .3s infinite; }

@keyframes rotar {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@font-face {
  font-family: "Abril";
  src: local("Abril"), url(../../fonts/Abril.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ranchers";
  src: local("Ranchers"), url(../../fonts/Ranchers.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url(../../fonts/Inconsolata.ttf);
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=calculadora.css.map */
